.hashtags-container {
    margin-top: 7px;

    > .content {
        padding: 16px;

        > .title {
            position: relative;
            margin-bottom: 12px;

            > .text {
                font-size: 16px;
                font-weight: bold;
                color: rgb(20, 20, 20);
            }

            > .create {
                position: absolute;
                right: 0;
                top: 4px;
                font-size: 12px;
                font-weight: bold;
                text-decoration: none;
            }
        }
    }
}

.hashtags-list {
    > li {
        display: block;
        margin-bottom: 5px;

        > .tagname {
            height: 20px;

            > a {
                text-decoration: none;
                font-weight: bold;
                font-size: 15px;
                text-overflow: ellipsis;
                white-space: nowrap;
                display: block;
                overflow: hidden;
            }

            > a::before {
                font-family: Beluga;
                content: "\E01E";
            }
        }

        > .count {
            margin: 1px 0 0 2px;
            font-size: 12px;
            color: rgb(119, 119, 119);
        }
    }
}
