@import "button";
@import "define";

body {
	font-size: 16px;
	font-family: $font_family;
	padding: 0;
	margin: 0;
}
p {
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
	font-weight: bold;
}
a:hover{
	text-decoration: none;
}
.status {
	margin-bottom: 14px;
	> .inside {
		margin-left: 75px;
		min-height: 65px;
		> .header {
			position: relative;
			z-index: 1;
			> .avatar {
				position: relative;
				> img {
					border-radius: 50%;
					position: absolute;
					left: -75px;
					top: -10px;
					width: 50px;
					height: 50px;
					background-color: white;
					border: 10px solid white;
				}
			}
		}
		.name {
			font-size: 14px;
			line-height: 14px;
		}
		> .content {
			margin: 5px 0;
			> .body {
				font-size: 16px;
				line-height: 20px;
				word-break: break-all;
				word-wrap: break-word;
				overflow: hidden;
				> p {
					a:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
}
.timeline {
	position: relative;
	margin: 10px 0;
	> .vertical {
		position: absolute;
		top: 35px;
		bottom: 35px;
		left: 34px;
		border-left: 2px solid rgb(220, 220, 220)
	}
}
.mobile {
	.status {
		> .inside {
			margin-left: 60px;
			min-height: 50px;
			> .header {
				> .avatar {
					> img {
						width: 40px;
						height: 40px;
						left: -60px;
						border-width: 8px;
					}
				}
			}
			.name {
			}
			> .content {
				> .body {
					> p {
					}
				}
			}
		}
	}
}
.mobile.timeline {
	> .vertical {
		left: 28px;
	}
}
video {
	width: 100%;
}
textarea {
	width: 100%;
	font-size: 16px;
	padding: 5px;
}
.status-body-emoji {
	width: 20px;
	height: 20px;
	margin-bottom: -3px;
	display: inline-block;
}