.form-input {
      display: inline-block;
      font-size: 16px;
      line-height: 20px;
      color: #555555;
      padding: 4px 6px;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      background-color: #ffffff;
      border: 1px solid #bbb;
      -webkit-border-radius: 3px;
      border-radius: 4px;
      -webkit-box-shadow: rgba(255,255,255,0) 0 0 1px 0,#dcdbd7 0 1px 1px inset,rgba(255,255,255,0) 0 0 1px 0;
      box-shadow: rgba(255,255,255,0) 0 0 1px 0,#dcdbd7 0 1px 1px inset,rgba(255,255,255,0) 0 0 1px 0;
}
.form-input:focus {
      border-color: #4596b4;
      outline: 0;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 2px 1px rgba(44,143,177,0.6);
      box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 2px 1px rgba(44,143,177,0.6);
}
.form-input.dragover {
      border-color: rgba(82,168,236,1);
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 9px 1px rgba(44,143,177,0.7);
      box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 9px 1px rgba(44,143,177,0.7);
}