@import "../clean/define";

.postbox-module {
	> .inside {
		min-height: 65px;
		padding: 6px 16px;
		padding-left: 6px;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		position: relative;
		z-index: 1;
	}
	a:hover {
		text-decoration: underline;
		color: $link_color;
	}
}
.postbox-left {
	width: 62px;
	height: 62px;
	margin-top: -6px;
	z-index: 2;
	position: relative;
	> .avatar {
		position: relative;
		> img {
			border-radius: 50%;
			position: absolute;
			left: 0;
			top: 0;
			width: 45px;
			height: 45px;
			background-color: white;
			border: 8px solid white;
		}
	}
}
.postbox-right {
	flex: 1 1 auto;
	z-index: 3;
	position: relative;
}
.postbox-content {
	margin: 5px 0;
	> .body {
		> textarea {
			width: 100%;
			box-sizing: border-box;
			padding: 5px;
		}
	}
}
.postbox-footer {

}