.server-container {
	background-color: white;
	margin-bottom: 10px;
	> .content {
		padding: 20px;
		border-top: 1px solid rgb(238, 238, 238);
		> .title {
			font-size: 15px;
			font-weight: bold;
			color: rgb(20, 20, 20);
			padding: 0;
			margin: 0;
			margin-bottom: 10px;
		}
	}
	> .content:first-child {
		border-top: none;
	}
}
.server-avatar {
	> a {
		text-decoration: none;
		display: block;
		> .image {
			width: 70px;
			height: 70px;
			border-radius: 35px;
			margin: 0 auto;
			display: block;
		}
	}
}
.server-name {
	text-align: center;
	margin-top: 10px;
	> a {
		text-decoration: none;
		> h1 {
			color: black;
			font-weight: bold;
			font-size: 20px;
		}
		> h2 {
			color: rgb(153, 153, 153);
			font-weight: normal;
			font-size: 16px;
		}
	}
}
.server-description {
	margin-top: 10px;
	font-size: 15px;
		text-align: center;
}
.server-members {
	
}
.server-members-list {
	overflow: hidden;
	> li {
		> a {
			display: block;
			float: left;
			margin: 0 5px 5px 0;
			width: 30px;
			height: 30px;
			> img {
				width: 100%;
				height: 100%;
				border-radius: 100%;
			}
		}
	}
}
.timeline.hashtags {
	.server-container {
		> .content.card {
			margin-bottom: 10px;
			padding: 20px 40px;
			> .group {
				display: flex;
				justify-content: center;
			}
		}
		> .content.additional {
			display: none;
		}
	}
	.server-avatar {
		float: left;
	}
	.server-name {
		float: left;
		text-align: left;
		margin: 13px 0 0 20px;
	}
	.server-description {
		margin-top: 20px;
	}
}