body {
    background-color: #f6f6f6;
}

.item {
    height: 200px;
    position: relative;
    float: left;
    width: calc(20% - 20px);
    background-color: white;
    margin-right: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 10px rgba(36, 37, 38, 0.05);
    border-radius: 16px;
    overflow: hidden;
}

.code {
    position: absolute;
    left: 30px;
    top: 20px;
    font-size: .8125em;
    color: #333435;
    letter-spacing: 0.030em;
}

.color {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}