.community-banner-compoent {
    flex: 0 0 auto;
    margin-top: 46px;
    border-bottom: 1px solid rgb(220, 220, 220);
    background-color: white;
    text-align: center;

    > .inside {
        padding: 0 60px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 80px;

        > .title {
            font-size: 20px;
            font-weight: bold;
        }

        > .divider {
            flex: 0 0 auto;
            font-size: 20px;
            color: black;
            margin: 0 20px;
            font-family: Beluga;

            &::before {
                content: "\2E65";
            }
        }

        > .avatar {
            flex: 0 0 auto;
            width: 30px;
            height: 30px;
            border-radius: 8px;
        }

        > .name {
            font-weight: bold;
            flex: 0 0 auto;
            color: black;
            font-size: 20px;
            margin-left: 10px;
        }
    }
}

.community-settings {
    > .community-banner-compoent {
        width: 100%;

        > .inside {
            margin: 0 auto;
            width: 740px;
            justify-content: left;
        }
    }
}

.channel-banner-compoent {
    flex: 0 0 auto;
    margin-top: 46px;
    width: 100%;
    border-bottom: 1px solid rgb(220, 220, 220);

    > .inside {
        padding: 0 60px;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 80px;
        margin: 0 auto;
        width: 740px;
        justify-content: left;

        > .title-area {
            color: black;
            font-size: 20px;
            font-weight: bold;
        }

        > .channel-area {
            display: flex;
            flex-direction: row;
            align-items: center;

            > .icon {
                flex: 0 0 auto;
                font-size: 20px;
                line-height: 0;
                font-family: Beluga;

                &::before {
                    content: "\2006";
                }
            }

            > .name {
                flex: 1 1 auto;
                color: black;
                font-size: 20px;
            }
        }

        > .divider {
            font-size: 20px;
            color: black;
            margin: 0 20px;
            font-family: Beluga;

            &::before {
                content: "\2E65";
            }
        }

        > .community-area {
            display: flex;
            flex-direction: row;
            align-items: center;

            > .avatar {
                flex: 0 0 auto;
                width: 24px;
                height: 24px;
                border-radius: 8px;
            }

            > .name {
                flex: 1 1 auto;
                color: black;
                font-size: 20px;
                margin-left: 10px;
            }
        }
    }
}
