.channel-list-component {
    > .content {
        padding: 16px;

        .hint-area {
            margin-top: 20px;
            font-size: 15px;

            > p {
                line-height: 18px;
                margin-bottom: 4px;
            }
        }

        > .title {
            position: relative;

            > .text {
                font-size: 15px;
                font-weight: bold;
                color: rgb(20, 20, 20);
            }

            > .create-link {
                position: absolute;
                right: 0;
                top: 1px;
                font-size: 13px;
                font-weight: 500;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .channel-list {
            margin-top: 14px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: center;

            > .item {
                font-size: 14px;
                flex: 0 0 auto;
                color: rgb(180, 180, 180);
                display: flex;
                flex-direction: row;
                align-items: center;
                text-decoration: none;
                padding: 3px 0;

                > .icon {
                    flex: 0 0 auto;
                    width: 14px;
                    height: 14px;
                    font-family: Beluga;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-weight: normal;

                    &::before {
                        content: "\2006";
                    }
                }

                > .label {
                    font-weight: bold;
                    flex: 0 0 auto;
                    margin-left: 1px;
                }

                &:hover {
                    > .label {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
