.column-component {
    background-color: white;
    margin-bottom: 10px;

    > .content {
        padding: 20px;
        border-top: 1px solid rgb(238, 238, 238);

        > .title {
            font-size: 15px;
            font-weight: bold;
            color: rgb(20, 20, 20);
            padding: 0;
            margin: 0;
            margin-bottom: 10px;
        }
    }
}

.column-component.custom-emoji-list {
    > .content {
        padding: 10px 20px;
    }
}

.column.customize-emoji {
    flex: 0 1 400px;
}

.settings-component.customize-emoji {
    width: 100%;

    > .item {
        .image-input {
            margin-top: 10px;
        }
    }
}

.custom-emoji-list-area {
    > ul {
        > .item {
            display: flex;
            flex-direction: row;
            align-items: center;
            border-bottom: 1px solid rgb(220, 220, 220);
            padding: 6px 0;

            &:last-child {
                border: none;
            }

            > .image-area {
                width: 50px;
                flex: 0 0 auto;

                > .image {
                    width: 30px;
                    height: 30px;
                }
            }

            > .shortname-area {
                flex: 1 1 auto;
                word-break: break-all;
                margin-right: 5px;
                font-size: 15px;
            }

            > .actions-area {
                flex: 0 1 auto;
                display: flex;
                flex-direction: row;
                align-items: center;

                > .remove-link {
                    flex: 0 1 auto;
                    font-size: 14px;
                }
            }
        }
    }
}
