.form-input {
    display: inline-block;
    font-size: 15px;
    line-height: 20px;
    color: #555555;
    padding: 6px 8px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(220, 220, 220);
    border-radius: 6px;
    height: 32px;

    &:focus {
        outline: 0;
        border-width: 2px;
        padding-left: 7px;
        padding-right: 7px;
    }

    &:placeholder-shown {
        color: rgb(200, 200, 200);
    }

    &::-webkit-input-placeholder {
        color: rgb(200, 200, 200);
    }

    &:-moz-placeholder {
        color: rgb(200, 200, 200);
        opacity: 1;
    }

    &::-moz-placeholder {
        color: rgb(200, 200, 200);
        opacity: 1;
    }

    &:-ms-input-placeholder {
        color: rgb(200, 200, 200);
    }
}
