.navigationbar-component {
    z-index: 10;
    width: 100%;
    position: fixed;
    top: 0;
    height: 46px;
    background-color: rgb(30, 30, 30);
    padding: 0 10px;
    box-sizing: border-box;
    font-size: 14px;
    box-shadow: rgba(23, 23, 23, 0.15) 0px 4px 8px;

    > .left-area {
        float: left;
        height: 100%;

        > .tab-menu {
            display: flex;
            flex-direction: row;
            height: 100%;

            > .item {
                flex: 0 0 auto;
                height: 100%;
                color: rgb(180, 180, 180);
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                transition: all 0.05s ease-out 0s;
                cursor: pointer;

                > .icon {
                    flex: 0 0 auto;
                    width: 32px;
                    height: 32px;
                    font-size: 22px;
                    font-family: Beluga;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-weight: normal;
                    line-height: 0;

                    &.message::before {
                        content: "\2E58";
                    }

                    &.notifications::before {
                        content: "\2E56";
                    }

                    &.explore::before {
                        content: "\2007";
                    }
                }

                > .label {
                    font-weight: bold;
                    flex: 0 0 auto;
                    margin-left: 4px;
                }

                &.logo {
                    width: 60px;
                    background-image: url(/asset/theme/default/logo.svg?v=1);
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    background-size: 26px 26px;
                    margin-right: 10px;
                }

                &.border-bottom {
                    padding: 0 16px;

                    &:hover {
                        color: white;
                        text-decoration: none;
                        box-shadow: rgb(180, 180, 180) 0px -4px 0px inset;
                    }

                    &.active {
                        color: white;
                        text-decoration: none;
                        box-shadow: rgb(255, 255, 255) 0px -4px 0px inset;
                    }
                }
            }
        }
    }

    > .right-area {
        float: right;
        height: 100%;

        > .menu {
            display: flex;
            flex-direction: row;
            height: 100%;

            > .item {
                flex: 0 0 auto;
                height: 100%;
                width: 50px;
                color: rgb(180, 180, 180);
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                transition: all 0.05s ease-out 0s;

                > .icon {
                    flex: 0 0 auto;
                    width: 32px;
                    height: 32px;
                    font-size: 22px;
                    font-family: Beluga;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;

                    &.find::before {
                        content: "\2E52";
                    }

                    &.settings::before {
                        content: "\2E53";
                    }
                }

                &.user {
                    > .link {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        text-decoration: none;
                        color: inherit;

                        &:hover {
                            text-decoration: none;
                        }

                        > .avatar {
                            width: 26px;
                            height: 26px;
                            border-radius: 26px;
                        }

                        > .label {
                            margin-left: 10px;
                        }
                    }
                }

                &:hover {
                    color: white;

                    &.user {
                        > .link {
                            > .avatar {
                                width: 26px;
                                height: 26px;
                                border-radius: 26px;
                            }

                            > .label {
                                margin-left: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.navigationbar-dropdown-menu {
    position: relative;

    &:hover {
        > .navigationbar-dropdown-component {
            display: block;
        }
    }
}

.navigationbar-dropdown-component {
    position: absolute;
    top: 100%;
    right: 0px;
    padding-top: 6px;
    display: none;

    > .inside {
        box-shadow: rgba(23, 23, 23, 0.15) 0px 8px 16px;
        border-radius: 6px;
        overflow: hidden;

        > .menu {
            > .item {
                padding: 12px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: rgb(180, 180, 180);
                border-bottom: 2px solid rgb(50, 50, 50);
                font-weight: bold;
                background-color: rgb(30, 30, 30);
                transition: all 0.05s ease-out 0s;

                &:last-child {
                    border-bottom: none;
                }

                &:hover {
                    background-color: rgb(56, 56, 56);
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }

    &.user {
        width: 180px;
    }

    &.settings {
        width: 180px;
    }

    &.find {
        width: 200px;
    }
}
