.server-container {
    background-color: white;
    margin-bottom: 10px;

    > .content {
        padding: 20px;
        border-top: 1px solid rgb(238, 238, 238);

        > .title {
            font-size: 15px;
            font-weight: bold;
            color: rgb(20, 20, 20);
            padding: 0;
            margin: 0;
            margin-bottom: 10px;
        }

        > .group {
            > .avatar {
                > a {
                    text-decoration: none;
                    display: block;

                    > .image {
                        width: 70px;
                        height: 70px;
                        border-radius: 35px;
                        margin: 0 auto;
                        display: block;
                    }
                }
            }

            > .name {
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 10px;

                > a {
                    text-decoration: none;
                    text-align: center;

                    > h1 {
                        color: black;
                        font-weight: bold;
                        font-size: 20px;
                    }

                    > h2 {
                        color: rgb(153, 153, 153);
                        font-weight: normal;
                        font-size: 16px;
                        margin-top: 6px;
                    }

                    &:hover {
                        text-decoration: none;

                        > h1,
                        > h2 {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }

        > .description {
            margin-top: 10px;
            font-size: 15px;
            text-align: center;
            word-wrap: break-word;
            word-break: break-all;

            > .sentence {
                line-height: 18px;
                min-height: 16px;
            }
        }

        &:first-child {
            border-top: none;
        }
    }

    > .content.members {
        > .section {
            > .title {
                cursor: pointer;
                margin: 0;
                font-size: 15px;
                font-weight: bold;
                color: rgb(20, 20, 20);
                padding: 0;
                margin: 0;
                margin-bottom: 10px;
            }

            > .list {
                overflow: hidden;
                margin: 10px 0;

                > .user {
                    > a {
                        display: block;
                        float: left;
                        margin: 0 5px 5px 0;
                        width: 30px;
                        height: 30px;
                        line-height: 0;

                        > img {
                            width: 100%;
                            height: 100%;
                            border-radius: 100%;

                            &.offline {
                                -webkit-filter: grayscale(100%);
                                -moz-filter: grayscale(100%);
                                -ms-filter: grayscale(100%);
                                -o-filter: grayscale(100%);
                                filter: grayscale(100%);
                                opacity: .5;
                            }
                        }
                    }
                }
            }

            &:last-child {
                > .title {
                    margin-bottom: 0;
                }

                > .list {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.timeline {
    .server-name {
        margin-top: 10px;
    }
}

.server-settings {
    .server-name {
        margin-top: 10px;
    }
}

.server-container {
    > .content.card {
        padding: 20px;

        > .group {
            display: flex;
            justify-content: center;
            flex-direction: row;

            > .avatar {
                > a {
                    > .image {
                        width: 50px;
                        height: 50px;
                    }
                }
            }

            > .name {
                text-align: left;
                margin-left: 20px;
                margin-top: 0;

                > a {
                    > h1 {
                        font-size: 18px;
                    }

                    > h2 {
                        margin-top: 4px;
                    }
                }
            }
        }

        > .description {
            margin-top: 20px;
        }
    }
}

#app.create-server {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
}

.create-server-container {
    padding-top: 100px;
    flex: 0 0 auto;
    flex-direction: column;
    width: 320px;
    justify-content: center;
    margin: 0 auto;

    > .title {
        font-size: 18px;
        font-weight: bold;
        text-align: center;
    }

    > .content {
        width: 100%;
        margin-top: 20px;
        border-radius: 6px;
        background-color: white;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);

        > .inside {
            padding: 20px;

            > .create-server-callout {
                font-size: 15px;
                margin-top: 10px;
                line-height: 1;

                &:first-child {
                    margin-top: 0;
                }
            }
        }
    }
}

.create-server-form {
    > .item {
        margin-top: 30px;

        > .title {
            font-size: 13px;
            font-weight: bold;
        }

        > .input-container {
            margin-top: 6px;
            display: flex;
            flex-direction: row;

            > .form-input {
                font-size: 16px;
                flex: 1 1 auto;
            }
        }

        > .input-container.name {
            display: flex;
            flex-direction: row;

            > .prefix {
                flex: 0 0 auto;
                font-size: 14px;
                line-height: 32px;
            }

            > .form-input {
                flex: 1 1 auto;
                margin-left: 4px;
                width: 100%;
            }
        }

        > .hint {
            margin-top: 4px;
            font-size: 13px;
            color: rgb(120, 120, 120);
        }

        &:first-child {
            margin-top: 0;
        }
    }

    > .submit {
        margin-top: 20px;

        > .button {
            width: 100%;
            height: 32px;
        }
    }
}

#app.server-settings {
    .settings-menu-module {
        width: 200px;
    }
}

.join-server-container {
    padding-top: 100px;
    flex: 0 0 auto;
    flex-direction: column;
    width: 320px;
    justify-content: center;
    margin: 0 auto;

    > .content {
        width: 100%;
        margin-top: 20px;
        border-radius: 6px;
        background-color: white;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);

        > .server-information {
            display: flex;
            justify-content: center;
            flex-direction: row;
            padding: 20px;

            > .avatar {
                > a {
                    > .image {
                        width: 50px;
                        height: 50px;
                        border-radius: 25px;
                        margin: 0 auto;
                        display: block;
                    }
                }
            }

            > .name {
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 10px;

                > a {
                    text-decoration: none;

                    > h1 {
                        color: black;
                        font-weight: bold;
                        font-size: 20px;
                    }

                    > h2 {
                        color: rgb(153, 153, 153);
                        font-weight: normal;
                        font-size: 16px;
                        margin-top: 1px;
                    }

                    &:hover {
                        text-decoration: none;

                        > h1,
                        > h2 {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }

        > .join-form {
            text-align: center;
            padding: 0 20px 20px 20px;

            > p {
                font-size: 15px;
                line-height: 20px;

                > b {
                    font-weight: bold;
                }
            }

            > .submit {
                margin-top: 20px;

                > .button {
                    margin-right: 10px;

                    &:last-child {
                        margin: 0;
                    }
                }
            }
        }

        > .members {
            padding: 20px;
            border-top: 1px solid rgb(238, 238, 238);

            > .title {
                margin: 0;
                font-size: 15px;
                font-weight: bold;
                color: rgb(20, 20, 20);
                padding: 0;
                margin: 0;
                margin-bottom: 10px;
            }

            > .list {
                overflow: hidden;
                margin-top: 10px;

                > li {
                    > a {
                        display: block;
                        float: left;
                        margin: 0 5px 5px 0;
                        width: 30px;
                        height: 30px;
                        line-height: 0;

                        > img {
                            width: 100%;
                            height: 100%;
                            border-radius: 100%;
                        }
                    }
                }
            }
        }
    }
}
