#snackbar {
    width: 100%;
    position: fixed;
    background-color: #189FF2;
    height: 40px;
    text-align: center;
    bottom: 40px;
    opacity: 1;
    position: relative;
    z-index: 0;

    > .message {
        color: white;
        font-size: 14px;
        line-height: 40px;
    }
}

#snackbar.show {
    bottom: 0;
    opacity: 1;
    transition: bottom 0.1s ease-in, opacity 0.1s ease-in;
}

#snackbar.hide {
    bottom: 40px;
    opacity: 0;
    transition: bottom 0.1s ease-out, opacity 0.1s ease-out;
}
