.status {
    position: relative;
    z-index: 0;

    > .inside {
        min-height: 65px;
        // padding: 6px 16px 4px 16px;
        padding: 0 16px;
        padding-left: 6px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        position: relative;
    }
}

.status-left {
    width: 62px;
    height: 62px;
    margin-top: -6px;
    z-index: 1;
    flex: 0 0 auto;

    > .avatar {
        position: relative;
        line-height: 0;
        display: block;

        > .image {
            border-radius: 50%;
            position: absolute;
            left: 0;
            top: 0;
            width: 45px;
            height: 45px;
            background-color: white;
            border: 8px solid white;
        }
    }
}

.status-right {
    flex: 1 1 auto;
    z-index: 2;
    min-width: 0;
}

.status-header {
    position: relative;
    z-index: 1;
    line-height: 1;

    > .inside {
        > .link {
            text-decoration: none;
            display: flex;
            align-items: center;
            flex-direction: row;
            flex-wrap: nowrap;
            margin-right: 46px;

            > .display-name {
                flex: 0 1 auto;
                color: rgb(50, 50, 50);
                font-size: 14px;
                font-weight: bold;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            > .name {
                font-weight: normal;
                flex: 1 1 auto;
                color: rgb(120, 120, 120);
                font-size: 14px;
                margin-left: 5px;
            }

            > .user-status {
                flex: 0 0 auto;
                display: inline-block;
                width: 18px;
                height: 18px;
                position: relative;
                line-height: 1;
                padding: 0;
                margin-left: 5px;

                > .emoji-image {
                    width: 100%;
                    height: 100%;
                }
            }

            > .element:first-child {
                margin-left: 0;
            }

            &:hover {
                > .display-name {
                    text-decoration: underline;
                }
            }
        }

        > .time {
            position: absolute;
            top: -2px;
            right: 0;
            font-size: 11px;
            color: rgb(120, 120, 120);
            text-decoration: none;
            font-weight: normal;
            padding-top: 5px;

            &:hover {
                color: black;
            }
        }
    }
}

.status-content {
    margin-top: 6px;

    > .body {
        font-size: 15px;
        word-break: break-all;
        word-wrap: break-word;
        position: relative;

        > .sentence {
            line-height: 18px;
            min-height: 16px;

            a {
                font-weight: bold;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.status-body-pre {
    overflow-x: auto;
    padding: 10px;
    background-color: rgb(248, 248, 248);
}

.status-body-big {
    font-size: 24px;
    line-height: 26px;
}

.status-body-code {}

.status-body-emphasis {
    font-weight: bold;
}

.status-body-underline {
    text-decoration: underline;
}

.status-body-strikethrough {
    text-decoration: line-through;
}

.status-body-italic {
    font-style: italic;
}

.status-body-emoji {
    padding: 0;

    > .image {
        width: 20px;
        height: 20px;
        margin-bottom: -3px;
        display: inline-block;
    }
}

.status-body-commenters {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 5px;
    padding: 6px 10px 6px 6px;
    margin: 6px 0;
    height: 24px;
    overflow: hidden;

    > .commenters {
        flex: 0 0 auto;
        display: flex;
        flex-direction: row;

        > .avatar {
            width: 24px;
            height: 24px;
            border-radius: 24px;
            flex: 0 0 auto;
            margin-right: 3px;
        }
    }

    > .stats {
        flex: 1 1 auto;
        display: flex;
        flex-direction: row;
        font-size: 13px;
        text-decoration: none;
        margin-left: 5px;
        min-width: 0;

        > .latest-comment {
            font-size: 14px;
            flex: 1 1 auto;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            color: black;
            font-weight: normal;
        }

        > .comments-count {
            flex: 0 0 auto;
        }

        > .comments-label {
            flex: 0 0 auto;

            &::after {
                font-family: Beluga;
                content: "\200E";
                margin-left: 2px;
            }
        }
    }

    &:hover {
        border: 1px solid rgb(200, 200, 200);
        text-decoration: none;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    }
}

.bigger-emoji {
    .status-body-emoji {
        > .image {
            width: 30px;
            height: 30px;
        }
    }
}

.status-body-channel,
.status-body-mention {
    text-decoration: none;
    font-family: NotoSansJP,appleLogo,sans-serif;
}

.status-body-channel::before {
    content: "#";
}

.status-body-mention::before {
    content: "@";
}

.status-body-tweet {
    width: 100%;
}

.status-favofites {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 6px;

    > .users {
        display: flex;
        flex-direction: row;
        flex: 0 0 auto;

        > a {
            display: block;
            width: 24px;
            height: 24px;
            margin-right: 4px;
            line-height: 0;

            > img {
                width: 100%;
                height: 100%;
                border-radius: 100%;
            }
        }
    }

    > .meta {
        font-size: 12px;
        position: relative;

        > .sep {
            position: absolute;
            border-left: 2px solid rgb(220, 220, 220);
            height: 16px;
            top: 4px;
            left: 6px;
            display: inline-block;
        }

        > .count {
            display: inline-block;
            margin-top: 4px;
            font-weight: bold;
            margin-left: 14px;
        }

        > .unit {
            display: inline-block;
            margin-top: 4px;
            margin-left: 2px;
        }
    }
}

.status-reactions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 6px 0 -4px -4px;

    > .status-reaction {
        flex: 0 0 auto;
        display: flex;
        border-radius: 4px;
        margin: 0 4px 2px 0;
        padding: 4px 4px 4px 3px;
        cursor: pointer;
        background-color: white;
        box-sizing: border-box;
        border: 1px solid rgb(230, 230, 230);
        transition: border-color 50ms ease-in 0s;

        > .emoji {
            flex: 0 0 auto;
            width: 20px;
            height: 20px;
            display: inline-block;
        }

        > .count {
            flex: 0 0 auto;
            font-size: 14px;
            font-weight: bold;
            display: inline-block;
            margin-left: 3px;
            margin-top: 3px;
        }

        &:hover {
            border: 1px solid rgb(140, 140, 140);
        }
    }
}

.status-bars {
    > .bar:last-child.status-body-commenters {
        margin-bottom: 10px;
    }
}

.status-body-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 3px 0;

    > a {
        flex: 0 1 auto;
        margin-right: 6px;
        display: block;
        line-height: 0;

        > img {
            width: 100%;
            border-radius: 6px;
        }
    }

    > .status-body-gif {
        flex: 0 1 auto;
        margin-right: 6px;
    }

    &:first-child {
        margin-top: 0;
    }
}

.status-body-website {
    display: flex;
    flex-direction: row;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);
    margin: 6px 0 10px 0;

    > .image {
        width: 80px;
        flex: 0 0 auto;
        margin-right: 12px;
        line-height: 0;

        > img {
            width: 100%;
            height: auto;
            border-radius: 4px;
        }
    }

    > .content {
        > .title {
            font-size: 15px;
            line-height: 18px;
            font-weight: bold;
        }

        > .description {
            margin-top: 4px;
            font-size: 13px;
            line-height: 16px;
        }

        > .domain {
            margin-top: 4px;
            font-weight: bold;
            color: rgb(50, 50, 50);
            font-size: 13px;
            line-height: 13px;
        }
    }

    &:hover {
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    }
}

@media (max-width: 1024px) {
    .status-body-website {
        > .image {
            display: none;
        }
    }
}

.status-body-video {
    width: 100%;
    margin-bottom: 5px;
}

.status-footer {
    height: 13px;
    line-height: 1;
    margin: 6px 0 8px 0;
    display: flex;

    > .source {
        font-weight: normal;
        font-size: 13px;
        color: rgb(200, 200, 200);
        margin-right: 10px;
        max-width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    > .time {
        font-weight: normal;
        text-decoration: none;
        font-size: 13px;
        color: rgb(200, 200, 200);
        padding-top: 5px;
        margin-top: -5px;
    }
}

.status:hover {
    .status-footer {
        > .source {
            color: black;
        }

        > .time {
            color: black;
        }
    }
}

.status-action {
    position: absolute;
    z-index: 4;
    display: none;
    right: 6px;
    bottom: 3px;
    height: 20px;
    background-color: white;

    > .inside {
        > .action-button {
            width: 34px;
            height: 20px;
            background: transparent;
            margin-right: 2px;
            font-family: Beluga;
            font-size: 26px;
            color: rgb(100, 100, 100);
            text-decoration: none;
            display: inline-block;
            cursor: pointer;
            font-weight: normal;
            text-align: center;
            line-height: 1;
        }

        > .like {
            > .icon::before {
                content: "\2428";
            }
        }

        > .favorite {
            > .icon::before {
                content: "\2429";
            }
        }

        > .emoji {
            > .icon::before {
                content: "\2430";
            }
        }

        > .thread {
            > .icon::before {
                content: "\2431";
            }
        }

        > .destroy {
            > .icon::before {
                content: "\2432";
            }
        }
    }
}

.status:hover {
    .status-action {
        display: block;
    }
}

.status-likes {
    margin-top: 4px;

    > p {
        width: 16px;
        height: 16px;
        font-size: 28px;
        line-height: 6px;
        display: inline-block;
        margin: 0 0 3px 0px;
        color: rgb(254, 197, 46);
    }

    > p::before {
        font-family: Beluga;
        content: "\245B";
    }
}

.status-body-gif {
    position: relative;

    > a {
        display: block;
        width: 100%;
        color: rgba(0, 0, 0, 0.7);
        list-style: 0;

        > img {
            width: 100%;
            height: auto;
            border-radius: 6px;
        }
    }

    > .watermark {
        padding: 3px 3px 3px 4px;
        border-radius: 4px;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.7);
        top: 4px;
        right: 4px;

        > i {
            background-image: url("/asset/theme/default/gif.svg?v=0.1.55");
            background-size: 15px 10px;
            background-repeat: no-repeat;
            width: 15px;
            height: 10px;
            display: block;
        }
    }

    &:hover {
        > .watermark {
            display: none;
        }
    }
}

.status-header {
    > .inside {
        > .link {
            > .display-name {
                > .status-body-emoji {
                    width: 18px;
                    height: 18px;
                }
            }
        }
    }
}
