@import "../reset";
@import "button";
@import "navigationbar";
@import "snackbar";
@import "timeline";
@import "server";
@import "status";
@import "postbox";
@import "form";
@import "emoji";
@import "video";
@import "channels";
@import "channel";
@import "settings";
@import "account";
@import "customize";
@import "tooltip";

@font-face {
    font-family: "Beluga";
    font-weight: 400;
    font-style: normal;
    src: url("/asset/theme/default/beluga.otf?v=0.8.25") format("opentype");
}

.lucida,
.lucida:hover {
    font-family: "lucida grande", tahoma, verdana, arial, "hiragino kaku gothic pro", meiryo, "ms pgothic", sans-serif;
}

.verdana,
.verdana:hover {
    font-family: "Verdana", tahoma, arial;
}

body,
.meiryo {
    font-family: "Hiragino Kaku Gothic Pro", Meiryo, "MS PGothic", sans-serif;
}

#app {
    z-index: 1;
    position: relative;
    overflow: hidden;
    overflow-x: scroll;
    min-height: 100vh;
}

#app.inline-flex {
    display: inline-flex;
    flex-direction: column;
}

#app.timeline.multiple-columns {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#content {
    z-index: 2;
    padding-top: 26px;
    display: flex;

    > .inside {
        padding: 10px;
    }
}

#content.logged_in_user {
    padding-top: 72px;
}

#app.multiple-columns > #content {
    flex: 1 1 auto;
    min-height: 0;
}

body {
    background-color: #f4f4f4;
    background-repeat: repeat;
    background-attachment: fixed;
}

.bold {
    font-weight: bold;
}

.hidden {
    display: none !important;
}

.scroller-container {
    display: flex;
    flex-direction: column;

    > .scroller {
        overflow-y: scroll;
    }
}

.webkit-scrollbar::-webkit-scrollbar {
    width: 6px;
}

.webkit-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
}

.webkit-scrollbar::-webkit-scrollbar-track-piece {
    background-clip: padding-box;
    background-color: transparent;
    border-color: transparent;
}

.clearfix::after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

a {
    font-weight: bold;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
