#tooltip {
    text-align: center;
    position: absolute;
    z-index: 6;
    width: 200px;

    > .message {
        background-color: black;
        color: #fff;
        padding: 8px 12px;
        border-radius: 6px;
        font-size: 13px;
        display: inline-block;
        font-family: "Hiragino Kaku Gothic Pro", Meiryo, "MS PGothic", sans-serif;
    }

    > .message::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: black transparent transparent transparent;
    }
}

.tooltip-user-status {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;

    > .emoji {
        flex: 0 0 auto;
        width: 20px;
        height: 20px;
        display: inline-block;
    }

    > .string {
        flex: 1 1 auto;
        font-size: 13px;
        line-height: 0;
        white-space: pre;
        margin-left: 5px;
    }
}

.tooltip {
    position: relative;

    > .tooltip-message {
        display: none;
        position: absolute;
        left: 50%;
        max-width: 250px;
        color: #fff;
        font-size: 13px;
        font-weight: normal;
        text-align: center;
        margin: 8px 0;
        padding: 8px 12px;
        background: black;
        white-space: nowrap;
        border-radius: 6px;
        transform: translateX(-50%);
        user-select: none;
        font-family: "Hiragino Kaku Gothic Pro", Meiryo, "MS PGothic", sans-serif;

        &.top {
            bottom: 90%;

            &:after {
                bottom: -6px;
                border-top-color: black;
            }
        }

        &.bottom {
            top: 90%;

            &:after {
                top: -6px;
                border-bottom-color: black;
            }
        }

        &:after {
            position: absolute;
            left: 50%;
            content: "";
            width: 0;
            height: 0;
            margin: -6px;
            border: 7px solid transparent;
        }
    }

    &:hover {
        > .tooltip-message {
            display: block;
        }
    }
}
