.navigationbar-component {
    z-index: 4;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: rgb(30, 30, 30);
    padding: 0 10px;
    box-sizing: border-box;
    font-size: 10px;
    box-shadow: rgba(23, 23, 23, 0.15) 0px 4px 8px;
    display: flex;
    flex-direction: row;
    align-items: center;

    > .tab-menu {
        flex: 1 1 auto;
        display: flex;
        flex-direction: row;
        height: 100%;
        justify-content: space-between;
        overflow-x: scroll;

        > .item {
            flex: 0 0 auto;
            min-width: 60px;
            height: 100%;
            color: rgb(180, 180, 180);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            > .icon {
                flex: 0 0 auto;
                width: 32px;
                height: 32px;
                font-size: 24px;
                font-family: Beluga;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: normal;
                line-height: 0;

                &.message::before {
                    content: "\2E58";
                }

                &.notifications::before {
                    content: "\2E56";
                }

                &.explore::before {
                    content: "\2007";
                }

                &.settings::before {
                    content: "\2E53";
                }

                &.channels::before {
                    content: "\2006";
                }

                &.search::before {
                    content: "\2E52";
                }

                &.profile::before {
                    content: "\2E54";
                }

                &.more::before {
                    content: "\2E55";
                }
            }

            > .label {
                font-weight: normal;
                flex: 0 0 auto;
                font-size: 10px;
            }

            &.active {
                color: white;
                text-decoration: none;
            }
        }
    }
}

.navigationbar-dropdown-component {
    position: absolute;
    top: 100%;
    padding-top: 6px;
    width: 60%;

    > .inside {
        box-shadow: rgba(23, 23, 23, 0.15) 0px 8px 16px;
        border-radius: 8px;
        overflow: hidden;

        > .menu {
            > .item {
                padding: 14px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: rgb(180, 180, 180);
                border-bottom: 2px solid rgb(50, 50, 50);
                font-weight: bold;
                background-color: rgb(30, 30, 30);
                transition: all 0.05s ease-out 0s;
                font-size: 16px;

                &:last-child {
                    border-bottom: none;
                }

                &:hover {
                    background-color: rgb(56, 56, 56);
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }

    &.more {
        right: 50%;
        transform: translateX(80%);
    }

    &.settings {
        right: 50%;
        transform: translateX(60%);
    }
}
