@import "../reset";
@import "navigationbar";
@import "postbox";
@import "timeline";
@import "status";
@import "emoji";
@import "button";
@import "form";
@import "video";
@import "channels";
@import "account";
@import "server";

@font-face {
    font-family: "Beluga";
    font-weight: 400;
    font-style: normal;
    src: url("/asset/theme/default/beluga.otf?v=0.8.25") format("opentype");
}

body {
    background-color: rgb(240, 240, 240);
    padding: 5px;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Hiragino Sans", "Hiragino Kaku Gothic ProN", "游ゴシック  Medium", meiryo, sans-serif;
}

.bold {
    font-weight: bold;
}

.hidden {
    display: none !important;
}

.scroller-container {
    display: flex;
    flex-direction: column;

    > .scroller {
        overflow-y: scroll;
        -webkit-transform: translateZ(0px);
        -webkit-overflow-scrolling: touch;
    }
}

a {
    font-weight: bold;
    text-decoration: none;
}
