.form-input {
      display: inline-block;
      font-size: 16px;
      line-height: 20px;
      color: #555555;
      padding: 4px 6px;
      box-sizing: border-box;
      background-color: #ffffff;
      border: 2px solid rgb(220, 220, 220);
      border-radius: 4px;
}
.form-input:focus {
      outline: 0;
}