.status {
	position: relative;
	z-index: 0;
	> .inside {
		min-height: 65px;
		padding: 6px 16px 4px 16px;
		padding-left: 6px;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		position: relative;
	}
	a {
		text-decoration: none;
	}
	a:hover {
		text-decoration: underline;
	}
}
.status-left {
	width: 62px;
	height: 62px;
	margin-top: -6px;
	z-index: 1;
	flex: 0 0 auto;
	> .avatar {
		position: relative;
		> img {
			border-radius: 50%;
			position: absolute;
			left: 0;
			top: 0;
			width: 45px;
			height: 45px;
			background-color: white;
			border: 8px solid white;
		}
	}
}
.status-right {
	flex: 1 1 auto;
	z-index: 2;
	min-width: 0;
}
.status-header {
	position: relative;
	z-index: 1;
	line-height: 1;
	> .inside {
		> .link {
			text-decoration: none;
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			margin-right: 46px;
			> .display-name {
				flex: 0 1 auto;
				color: rgb(50, 50, 50);
				font-size: 14px;
				font-weight: bold;
				padding-right: 5px;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
			> .name {
				flex: 1 1 auto;
				color: rgb(120, 120, 120);
				font-size: 14px;
			}
		}
		> .link:hover {
			> .display-name {
				text-decoration: underline;
			}
		}
		> .time {
			position: absolute;
			top: 3px;
			right: 0;
			font-size: 11px;
			color: rgb(120, 120, 120);
			text-decoration: none;
		}
		> .time:hover {
			text-decoration: underline;
			color: black;
		}
	}
}
.status-content {
	margin-top: 6px;
	> .body {
		font-size: 15px;
		line-height: 20px;
		word-break: break-all;
		word-wrap: break-word;
		overflow: hidden;
		> p {
			a {
				font-weight: bold;
			}
			a:hover {
				text-decoration: underline;
			}
		}
	}
}
.status-body-link::before {
	font-family: Beluga;
	content: "\E00B";
}
.status-body-emoji {
	width: 20px;
	height: 20px;
	margin-right: 1px;
    margin-bottom: -3px;
	display: inline-block;
}
.status-body-hashtag::before {
	font-family: Beluga;
	content: "\E01E";
}
.status-body-mention::before {
	font-family: Beluga;
	content: "\E01D";
}
.status-body-tweet {
	width: 100%;
}
.status-favofites {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 6px;
	> .users {
		display: flex;
		flex-direction: row;
		flex: 0 0 auto;
		> a {
			display: block;
			width: 24px;
			height: 24px;
			margin-right: 4px;
			> img {
				width: 100%;
				height: 100%;
				border-radius: 100%;
			}
		}
	}
	> .meta {
		font-size: 12px;
		position: relative;
		> .sep {
			position: absolute;
			border-left: 2px solid rgb(220, 220, 220);
			height: 16px;
			top: 4px;
			left: 6px;
			display: inline-block;
		}
		> .count {
			display: inline-block;
			margin-top: 4px;
			font-weight: bold;
			margin-left: 14px;
		}
		> .unit {
			display: inline-block;
			margin-top: 4px;
			margin-left: 2px;
		}
	}
}
.status-reactions {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 2px 0 -4px -4px;
	> .status-reaction {
		flex: 0 0 auto;
		display: flex;
		border-radius: 4px;
		margin: 0 0 2px 1px;
		padding: 4px 4px 4px 3px;
		cursor: pointer;
		background-color: white;
		box-sizing: border-box;
		border: 1px solid white;
		transition: border-color 50ms ease-in 0s;
		> .emoji {
			flex: 0 0 auto;
			width: 20px;
			height: 20px;
			display: inline-block
		}
		> .count {
			flex: 0 0 auto;
			font-size: 14px;
			font-weight: bold;
			display: inline-block;
			margin-left: 3px;
			margin-top: 3px;
		}
	}
	> .status-reaction:hover {
		border: 1px solid rgb(140, 140, 140);
	}
}
.status-body-gallery {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin: 3px 0;
	> a {
		flex: 0 1 auto;
		margin-right: 6px;
		display: block;
		> img {
			width: 100%;
			border-radius: 6px;
		}
	}
	> .status-body-gif {
		flex: 0 1 auto;
		margin-right: 6px;
	}
}
.status-body-gallery:first-child {
	margin-top: 0;
}
.status-body-website {
	display: flex;
	flex-direction: row;
	padding: 12px;
	border-radius: 5px;
	border: 1px solid rgb(220, 220, 220);
	margin: 4px 0;
	> .image {
		width: 80px;
		flex: 0 0 auto;
		margin-right: 12px;
		> img {
			width: 100%;
			height: auto;
			border-radius: 4px;
		}
	}
	> .content {
		> .title {
			font-size: 15px;
			line-height: 18px;
			font-weight: bold;
		}
		> .description {
			margin-top: 4px;
			font-size: 13px;
			line-height: 16px;
		}
		> .domain {
			margin-top: 4px;
			font-weight: bold;
			color: rgb(50, 50, 50);
			font-size: 13px;
			line-height: 13px;
		}
	}
}
@media (max-width: 1024px) {
	.status-body-website {
		> .image {
			display: none;
		}
	}
}
.status-body-video {
	width: 100%;
}
.status-footer {
	height: 13px;
	line-height: 1;
	margin: 6px 0 8px 0;
	display: flex;
	> .belonging {
		font-size: 13px;
		color: rgb(200,200,200);
		margin-right: 10px;
		max-width: 200px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	> .time {
		text-decoration: none;
		font-size: 13px;
		color: rgb(200,200,200);
	}
}
.status:hover {
	.status-footer {
		> .belonging {
			color: black;
		}
		> .time {
			color: black;
		}
	}
}
.status-action {
	position: absolute;
	z-index: 4;
	display: none;
	overflow: hidden;
	right: 6px;
	bottom: 3px;
	height: 28px;
	> .inside {
		> button {
			width: 28px;
			height: 28px;
			background: transparent;
			margin-right: 2px;
			font-family: Beluga;
			font-size: 17px;
			color: rgb(100, 100, 100);
		}
		> .like::before {
			content: "\E003";
		}
		> .favorite::before {
			content: "\E008";
		}
		> .emoji::before {
			content: "\E000";
		}
		> .comment::before {
			content: "\E00A";
		}
		> .destroy::before {
			content: "\E009";
		}
	}
}
.status:hover {
	.status-action {
		display: block;
	}
}
.status-likes {
	margin-top: 4px;
	> p {
		width: 16px;
		height: 16px;
		font-size: 18px;
		line-height: 1;
		display: inline-block;
		margin: 0 0 3px 0px;
		color: rgb(254, 197, 46);
	}
	> p::before{
		font-family: Beluga;
		content: "\E002";
	}
}
.status-body-gif {
	position: relative;
	> a {
		display: block;
		width: 100%;
		color: rgba(0, 0, 0, 0.7);
		> img {
			width: 100%;
			height: auto;
			border-radius: 6px;
		}
	}
	> .watermark {
		padding: 3px 3px 3px 4px;
		border-radius: 4px;
		position: absolute;
		background-color: rgba(0, 0, 0, 0.7);
		top: 4px;
		right: 4px;
		> i {
			background-image: url("/asset/default/gif.svg?v=0.1.55");
			background-size: 15px 10px;
			background-repeat: no-repeat;
			width: 15px;
			height: 10px;
			display: block;
		}
	}
}
.status-body-gif:hover {
	> .watermark {
		display: none;
	}
}

.status-header {
	> .inside {
		> .link {
			> .display-name {
				> .status-body-emoji {
					width: 18px;
					height: 18px;
				}
			}
		}
	}
}