.hashtags-container {
    > .content {
        padding: 16px;

        > .title {
            position: relative;

            > .text {
                font-size: 16px;
                font-weight: bold;
                color: rgb(20, 20, 20);
            }

            > .create {
                position: absolute;
                right: 0;
                top: 4px;
                font-size: 12px;
                font-weight: bold;
                text-decoration: none;
            }

            > .create:hover {
                text-decoration: underline;
            }
        }
    }
}

.hashtags-list {
    margin-top: 14px;
    overflow: hidden;

    > li {
        display: block;
        margin-bottom: 10px;

        > .tagname {
            height: 20px;
            display: grid;

            > a {
                text-decoration: none;
                font-weight: bold;
                font-size: 15px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                display: block;
            }

            > a::before {
                font-family: Beluga;
                content: "\E01E";
            }

            > a:hover {
                text-decoration: underline;
            }
        }

        > .count {
            margin: 1px 0 0 2px;
            font-size: 12px;
            color: rgb(119, 119, 119);
        }
    }

    > li:last-child {
        margin-bottom: 0;
    }
}
