@import "../../reset";
@import "../../default/button";
@import "../../default/navigationbar";
@import "../../default/timeline";
@import "../../default/server";
@import "../../default/status";
@import "../../default/postbox";
@import "../../default/form";
@import "../../default/hashtags";
@import "../../default/settings";
@import "../../default/emoji";

@font-face {
  font-family: "Beluga";
  font-weight: 400;
  font-style: normal;
  src: url("/asset/default/beluga.ttf?v=0.1.29") format("truetype");
}

.lucida, .lucida:hover {
    font-family: 'lucida grande', tahoma, verdana, arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serif;
}
.verdana, .verdana:hover {
    font-family: "Verdana", tahoma, arial;
}
body, .meiryo {
    font-family: Verdana,"Hiragino Kaku Gothic Pro", Meiryo, "MS PGothic", sans-serif;
}
#app {
	z-index: 1;
	position: relative;
	overflow: hidden;
}
#content {
	z-index: 2;
	margin-top: 72px;
	> .inside {
		padding: 10px;
	}
}
body {
	background-color: #f4f4f4;
}
.scroller-wrapper {
	> .scroller {
	    overflow-y: scroll;
	    -webkit-transform: translateZ(0px);
	    -webkit-overflow-scrolling: touch;
	}
	> .scroller::-webkit-scrollbar {
	    width: 6px;
	}
	> .scroller::-webkit-scrollbar-thumb {
	    background-color: rgba(0, 0, 0, .2);
	    border-color: transparent;
		background-clip: padding-box;
		border-radius: 7px;
	}
	> .scroller::-webkit-scrollbar-track-piece {
	    background-clip: padding-box;
	    background-color: transparent;
	    border-color: transparent;
	}
}
.clearfix::after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}